{% extends "base.j2.html" %}

{% block title %}Chatroom {{ code }}{% endblock %}

{% block content %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.getElementById("room_code").innerText = "{{ code }}";
        });
    </script>
    <div class="w-3/4 h-3/4 columns-1 overflow-hidden">
        <div class="w-full h-3/4 bg-gray-800 p-4 rounded shadow-lg">
            <div id="chat" class="h-full overflow-y-auto font-mono text-sm">
                <div class="mb-2">Welcome To Chatroom {{ code }} Please be respectful</div>
            </div>
        </div>
        <form id="sendMessage">
            <textarea class="w-full bg-gray-700 text-white mt-2 p-2 rounded outline-none" id="message" placeholder="Type your message..." required></textarea>
            <button type="submit" style="display:none;">Send</button>
        </form>
    </div>

    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='sock.js') }}"></script>
{% endblock %}
